# Python Dictionaries
- dictionary are created using {}
- items in dictionaries are key:value bases NOT on index basis

In [42]:
record1 = {}

In [43]:
type(record1)

dict

In [44]:
record2 = {"Shoes":4000, "Shirt":1500, "Bike":50000}

In [45]:
record2

{'Shoes': 4000, 'Shirt': 1500, 'Bike': 50000}

In [46]:
record2["Bike"]

50000

In [47]:
record2.get("Shirt")

1500

### del

In [48]:
del record2['Bike']

In [49]:
record2

{'Shoes': 4000, 'Shirt': 1500}

### pop

In [50]:
record2.pop("Shirt")

1500

In [51]:
record2

{'Shoes': 4000}

### popitem

In [52]:
record2 = {"Shoes":4000, "Shirt":1500, "Bike":50000}
print(record2)
print(record2.popitem())
record2

{'Shoes': 4000, 'Shirt': 1500, 'Bike': 50000}
('Bike', 50000)

{'Shoes': 4000, 'Shirt': 1500}

## Adding items

In [53]:
record1

{}

In [54]:
record1['name'] = "Ahsan"
record1

{'name': 'Ahsan'}

In [55]:
record1["class"] = "Data Science"
record1

{'name': 'Ahsan', 'class': 'Data Science'}

In [56]:
test_dic = {1:11, 2:22, 3:33, 4:44, 5:555, 5:55}
test_dic

{1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

### Returning keys and values

In [57]:
keys = record1.keys()
keys

dict_keys(['name', 'class'])

In [58]:
record1.values()

dict_values(['Ahsan', 'Data Science'])

In [59]:
record1.items()

dict_items([('name', 'Ahsan'), ('class', 'Data Science')])

### Update

In [60]:
record1

{'name': 'Ahsan', 'class': 'Data Science'}

In [61]:
record1.update({"Contact": "0123456", "Address": "Karachi"})
record1

{'name': 'Ahsan',
 'class': 'Data Science',
 'Contact': '0123456',
 'Address': 'Karachi'}

In [62]:
test_dic + record1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [63]:
record1

{'name': 'Ahsan',
 'class': 'Data Science',
 'Contact': '0123456',
 'Address': 'Karachi'}

### set default

In [69]:
record1.setdefault("Marital Status")
record1

{'name': 'Ahsan',
 'class': 'Data Science',
 'Contact': '0123456',
 'Address': 'Karachi',
 'Marital Status': None}

In [76]:
a = dict([("a",10)])
a

{'a': 10}

In [82]:
d = {("abc",100)}
type(d)

set

In [85]:
x = ['a','b',{'foo':1, 'bar':{'x':10, 'y':20, 'z':30}, 'baz':3},
    'c',
    'd'
    ]
x

['a', 'b', {'foo': 1, 'bar': {'x': 10, 'y': 20, 'z': 30}, 'baz': 3}, 'c', 'd']

In [89]:
x[2]['bar']['y']

20

## Set {}

In [103]:
aset = {1,1,2,3}
bset = {1,2,3,4,5}
cset = {1,10,20}

In [104]:
aset.union(cset)

{1, 2, 3, 10, 20}

In [105]:
bset.intersection(cset)

{1}

In [106]:
bset.difference(cset)

{2, 3, 4, 5}

In [113]:
aset.difference_update(bset)
aset

set()

In [120]:
aset.symmetric_difference(bset)

{1, 2, 3, 4, 5}