# Day 02

## More on User Input

Anything inputted from console will be a string type of value

In [ ]:
favourite_num = input("Enter your Favourite Number")
favourite_num

## Python Data Structure (Python Collections)
- List
- Dictionary
- Set
- Tuple

## List
- []
- indices

In [2]:
countries = ["Pakisan", "India", "Srilanka", "China", "Russia"]
print(type(countries))
countries

<class 'list'>

['Pakisan', 'India', 'Srilanka', 'China', 'Russia']

In [3]:
#index       0           1         2           3         4
countries = ["Pakisan", "India", "Srilanka", "China", "Russia"]
#-ve        -5            -4       -3          -2        -1

In [4]:
# Create
# Retrive
# Update
# Delete
# Slice

In [5]:
len(countries)

5

In [6]:
min(countries)

'China'

In [7]:
max(countries)

'Srilanka'

In [8]:

ord("S")

83

In [9]:
ord("C")

67

In [10]:
chr(83)

'S'

In [11]:
chr(67)

'C'

In [12]:
countries[0]

'Pakisan'

In [13]:
print(countries[1])

India

### Update

In [15]:
countries[3]

'China'

In [17]:
countries[3] = "Japan"
countries

['Pakisan', 'India', 'Srilanka', 'Japan', 'Russia']

## Adding items in List
- append ()
- insert ()
- +
- extend ()

In [20]:
empty_list = []
empty_list

[]

### Append

In [26]:
empty_list.append("Shoes")
empty_list

['Shoes', 'Shoes', 'Shoes', 'Shoes']

In [27]:
empty_list.append("Shirts")
empty_list

['Shoes', 'Shoes', 'Shoes', 'Shoes', 'Shirts']

### Insert

In [28]:
empty_list.insert(2,"Cycles")
empty_list

['Shoes', 'Shoes', 'Cycles', 'Shoes', 'Shoes', 'Shirts']

In [29]:
empty_list.insert(4,"Cars")
empty_list

['Shoes', 'Shoes', 'Cycles', 'Shoes', 'Cars', 'Shoes', 'Shirts']

In [30]:
len(empty_list)

7

In [32]:
empty_list[1] = "Computers"
empty_list

['Shoes', 'Computers', 'Cycles', 'Shoes', 'Cars', 'Shoes', 'Shirts']

In [57]:
staff = ["Ali", "Sara", "Anus","Ahsan"]
faculty = ["Nadia", "Saad", "Zafar","Khalid"]
employees = []

### Extend

In [58]:
employees

[]

In [59]:
employees.extend(faculty)
employees

['Nadia', 'Saad', 'Zafar', 'Khalid']

In [60]:
employees = faculty + staff

In [61]:
employees

['Nadia', 'Saad', 'Zafar', 'Khalid', 'Ali', 'Sara', 'Anus', 'Ahsan']

## Deleting item from a List
- del
- pop ()
- remove ()
- clear

### del

In [62]:
employees

['Nadia', 'Saad', 'Zafar', 'Khalid', 'Ali', 'Sara', 'Anus', 'Ahsan']

In [63]:
del employees[2]
employees

['Nadia', 'Saad', 'Khalid', 'Ali', 'Sara', 'Anus', 'Ahsan']

### pop

In [64]:
employees

['Nadia', 'Saad', 'Khalid', 'Ali', 'Sara', 'Anus', 'Ahsan']

In [65]:
employees.pop()

'Ahsan'

In [66]:
employees

['Nadia', 'Saad', 'Khalid', 'Ali', 'Sara', 'Anus']

In [67]:
employees.pop(2)

'Khalid'

In [68]:
employees

['Nadia', 'Saad', 'Ali', 'Sara', 'Anus']

In [70]:
employees.pop()
employees.pop()
employees.pop()
employees.pop()

IndexError: pop from empty list

In [71]:
employees

[]

### remove

In [72]:
countries

['Pakisan', 'India', 'Srilanka', 'Japan', 'Russia']

In [73]:
countries.remove("India")
countries

['Pakisan', 'Srilanka', 'Japan', 'Russia']

In [74]:
countries.remove("China")
countries

ValueError: list.remove(x): x not in list

### clear

_____________________________

In [75]:
countries

['Pakisan', 'Srilanka', 'Japan', 'Russia']

In [81]:
countries.count("Pakistan")

0

In [82]:
countries.append("Pakistan")
countries

['Pakisan', 'Srilanka', 'Japan', 'Russia', 'Pakistan']

In [84]:
countries.count("Pakistan")

1

In [85]:
countries.index("Pakistan")

4

In [86]:
countries

['Pakisan', 'Srilanka', 'Japan', 'Russia', 'Pakistan']

In [90]:
print(countries)
countries.reverse()
countries

['Pakisan', 'Srilanka', 'Japan', 'Russia', 'Pakistan']

['Pakistan', 'Russia', 'Japan', 'Srilanka', 'Pakisan']

In [96]:
countries.pop(0)

'Srilanka'

In [97]:
countries

['Russia', 'Pakistan', 'Pakisan', 'Japan']

In [101]:
print(countries)
countries.reverse()
countries

['Japan', 'Pakisan', 'Pakistan', 'Russia']

['Russia', 'Pakistan', 'Pakisan', 'Japan']

## Slicing

In [116]:
#index     0 1 2 3 4 5 6 7 8 
numbers = [1,2,3,4,5,6,7,8,9] 
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
numbers[2:5]

[3, 4, 5]

In [110]:
numbers[:5]

[1, 2, 3, 4, 5]

In [111]:
numbers[2:]

[3, 4, 5, 6, 7, 8, 9]

In [115]:
numbers[-1:]

[9]

In [126]:
numbers[1:8:2]

[2, 4, 6, 8]

In [121]:
numbers[-1:-7]

[]

In [128]:
numbers[9:0:-1]

[9, 8, 7, 6, 5, 4, 3, 2]

In [129]:
numbers[-8:4]

[2, 3, 4]

In [130]:
text = "Hi this is my first class"
text

'Hi this is my first class'

In [131]:
text[::-1]

'ssalc tsrif ym si siht iH'

In [133]:
text

'Hi this is my first class'

In [138]:
test = text.split()

In [139]:
test

['Hi', 'this', 'is', 'my', 'first', 'class']

In [147]:
splitted = test[::-1]
splitted

['class', 'first', 'my', 'is', 'this', 'Hi']

In [153]:
joined_test = ' '.join(splitted)
joined_test

'class first my is this Hi'

In [156]:
" ".join(text.split()[::-1])

'class first my is this Hi'

In [160]:
list = []
list += "abc"
list

['a', 'b', 'c']

## Tuple

In [164]:
t = ('foo','baz')
type(t)

tuple