# Introduction to Python

In [1]:
print("Hello")

Hello

In [2]:
print(777)

777

In [11]:
print("Hello Python", 321, 78.5, True)
print("Another line")

Hello Python 321 78.5 True
Another line

In [4]:
type("Hi")

str

In [5]:
type(345)

int

In [15]:
type(4.3)

float

In [17]:
len("Data Science")

12

In [8]:
ord("A")

65

In [9]:
ord("B")

66

# String

In [35]:
country=("PAKISTAN")

In [36]:
country.count("A")

2

In [37]:
country.count('a')

0

In [38]:
country.find("N")

7

### Find() tell us index number

In [39]:
country.startswith("p")

False

In [40]:
country.startswith("P")

True

In [41]:
country.isalpha()

True

### isalpha function shows variable string or not

In [42]:
country.isalnum()

True

In [43]:
country.isdecimal()

False

In [44]:
country.isdigit()

False

In [45]:
country.isidentifier()

True

In [46]:
country.istitle()

False

In [65]:
text="Welcome to the First Class..."

In [66]:
splitted=text.split(' ')

In [67]:
splitted

['Welcome', 'to', 'the', 'First', 'Class...']

In [88]:
joined = ' '.join(splitted)

In [89]:
joined

'Welcome to the First Class...'

In [87]:
text

'Welcome to the First Class...'

In [91]:
text.replace("Class","Lecture")

'Welcome to the First Lecture...'

In [94]:
name=" Ahsan "

In [95]:
name

' Ahsan '

In [100]:
name.strip()

'Ahsan'

In [30]:
name

' Ahsan '

- String concatenation
- Type casting
- String formation

In [107]:
name="Ahsan Ansari"
age=26

In [108]:
"Hello myself is "+name+". I am "+str(age)+" years old"

'Hello myself is Ahsan Ansari. I am 26 years old'

# #String Formation

In [33]:
"Hello myself is {}. I am {} years Old.".format(name,age)

'Hello myself is Ahsan Ansari. I am 26 years Old.'

In [34]:
"Hello myself is {0}. I am {1} years Old.".format(name,age)

'Hello myself is Ahsan Ansari. I am 26 years Old.'

In [35]:
f"Hello myself is {name}. I am {age} years Old"

'Hello myself is Ahsan Ansari. I am 26 years Old'

In [36]:
print("We are all learning 'Python and Data Science'")

We are all learning 'Python and Data Science'

In [37]:
print('We are all learning "Python and Data Science"')

We are all learning "Python and Data Science"

In [38]:
print("We are all learning \"Python and Data Science\"")

We are all learning "Python and Data Science"

## User Input

In [111]:
name=input("Please Enter Your Name:")
course=input("Please Enter Your Course:")
venue=input("Enter Venue:")
time=input("Enter Time:")

print(f"""
        High Impact Skills Bootcamp
        ---------------------------
        name: {name}
        course: {course}
        venue: {venue}
        time: {time}
        
        Note: if found please return to SSUET

    
""")

Please Enter Your Name:Ahsan Ansari
Please Enter Your Course:Data Science
Enter Venue:SSUET
Enter Time:9am

        High Impact Skills Bootcamp
        ---------------------------
        name: Ahsan Ansari
        course: Data Science
        venue: SSUET
        time: 9am

        Note: if found please return to SSUET

# Operators

# +
- -
- *
- / or //
- **
- <
- >
- =
- <=
- >=
- ==
- %
- !=
- or
- and
- not in

In [112]:
10/2

5.0

In [113]:
10//2

5

In [114]:
3**3

27

In [115]:
12>10

True

In [116]:
12<10

False

In [117]:
12<=12

True

In [118]:
12==12

True

In [119]:
12 != 12

False

In [120]:
10%2

0

In [121]:
10%3

1

In [122]:
"D" in "Data"

True

In [123]:
"d" in "Data"

False

In [126]:
var = ""

In [127]:
bool(var)

False

In [134]:
var = "a"

In [135]:
bool(var)

True

In [136]:
a = 100
b = 200
c = 50

In [137]:
a or b or c

100

In [138]:
a and c

50

In [139]:
x = -100
from math import sqrt
x > 0 and sqrt(x)

False

In [140]:
x

-100

In [141]:
x = -100
from math import sqrt
x < 0 and sqrt(x)

ValueError: math domain error

In [142]:
a = 30
b = 20
c = 10

In [143]:
a and b and c

10

In [144]:
a or b or c

30

## Post increament

In [145]:
a = 50

In [146]:
a

50

In [150]:
a += 5

In [151]:
a

60