# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello",123,7.5,True)

Hello 123 7.5 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [1]:
print("Welcome to the HISB Data Science",123456789,99.9999,False, sep=" ")

Welcome to the HISB Data Science 123456789 99.9999 False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("Hello World", end=' ')
print(1100, end=' ')
print(33.33, end=' ')
print(True)

Hello World 1100 33.33 True

In [10]:
print("HelloHi")

HelloHi

4) Can a python print function take no value to print???

In [2]:
# type your answer here
#yes
print("")

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [3]:
friend_name="Mr.Ahmed"
age=30
profession="lawyer"
degree="law"
passout=2005
lawfirm="The Himalya Associates"
location="Karachi"
joining_year=2015
height_in_ft=5.10
weight_in_gm=70600
income_in_PKR=200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [4]:
#type your code here 
current_year =2023
print(current_year-passout)

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [5]:
#type your code here 
print(f"{current_year-joining_year} years has been Mr. Ahmed been working with law firm 'The Himalya Associates'. ")

8 years has been Mr. Ahmed been working with law firm 'The Himalya Associates'.

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [20]:
#type your code here 
income_in_dollars=income_in_PKR/286.55
print(income_in_dollars)
print(round(income_in_dollars,2))

import math
print(math.ceil(income_in_dollars))
print(math.floor(income_in_dollars))

697.9584714709474
697.96
698
697

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [21]:
#type your code here 
print(type(income_in_dollars))
print(int(income_in_dollars))
print(type(int(income_in_dollars)))

<class 'float'>
697
<class 'int'>

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [22]:
#type your code here 
weight_in_kg=weight_in_gm//1000
print(type(weight_in_gm))
print(weight_in_kg)
print(type(weight_in_kg))

<class 'int'>
70
<class 'int'>

11) print the year of birth of Mr. Ahmed.

In [23]:
#type your code here
birth_year = current_year-age
birth_year

1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [1]:
#type your code here 
100%7

2